<form action="Index">
  <label>fullName</label>
  <input type="text" name="Name" placeholder="Nhap full name">
  <input type="email" name="email" placeholder="Nhap">
  <input type="submit" value="save"/> 
  </form>
  <h1>@ViewBag.xcv</h1>