<form asp-action = "Index" class="w3-container" >
    <p>      
    <label class="w3-text-brown"><b>PersonID</b></label>
    <input class="w3-input w3-border w3-sand" name="personID" type="text"></p>
    <p>      
    <label class="w3-text-brown"><b>Full Name</b></label>
    <input class="w3-input w3-border w3-sand" name="Fullname" type="text"></p>
    <p>
    <button class="w3-btn w3-brown">Send Data</button></p>
  </form>
  @ViewBag.capnhat
</div>
