<form asp-action="Index">
<input type="text" name="fname" placeholder="nhap fname">
<input type="text" name="hesoluong" placeholder="nhap he so luong">
<input type="text" name="phucap" placeholder="phu cap">
<input type="text"name="luongcoban" placeholder="luong co ban">
<input type="submit" value="Tinh">
</form>
<h1>@ViewBag.nhap</h1>